<div class="about-section">
    <p class="about-text">
       Welcome! I'm Srimukh, an analog photography enthusiast based in Austria. I shot all the photos here on film using my Olympus OM-2, Olympus XA & Minolta XE-5.
    </p>
    <div class="social-links">
      <a href="https://www.instagram.com/{{ site.instagram }}/" target="_blank" rel="noopener noreferrer" class="social-link">Instagram</a>
      <a href="https://www.lomography.com/homes/srimukh" target="_blank" rel="noopener noreferrer" class="social-link">Lomography</a>
    </div>
  </div>